1. Given that our Fibonacci calculation looks like:

def fib(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fib(n-1) + fib(n-2)

Design a socket server that will accept an unsigned integer (properly packed) and return a fibonacci value for the integer. Design a reliable protocol and implement both a client and server for calculating our Fibonacci values. Ensure that you can have more than one calculation occurring at any moment.
